/* Add this to a CSS file, e.g., branches.css */

/* Style the table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Style the table header */
table th {
  background-color: #007bff; /* Use blue as the background color for headers */
  color: #fff; /* White text on blue background */
  text-align: left;
  padding: 10px;
}

/* Style the table rows */
table td {
  border: 1px solid #ccc;
  padding: 10px;
}

/* Style the Create Branch button */
#create-branch-btn {
  background-color: #007bff; /* Use blue as the button background color */
  color: #fff; /* White text on blue background */
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* Style the form inputs */
.mb3 {
}

.form-label {
    font-weight: bold;
    text-align: left;
    margin-bottom: -21px;
    display: block; /* Display the labels as block elements */
  }
  
  .form-control {
    width: 60%; /* Set the width for input fields */
    padding: 5px;
    margin-bottom: 20px;
    text-align: left;
    
  }

/* Style the Swal2 modal */
.swal2-popup {
  width: 700px; /* Adjust the width as needed */
}

/* Style the Swal2 confirm and cancel buttons */
.swal2-confirm, .swal2-cancel {
  background-color: #007bff; /* Use blue as the button background color */
  color: #fff; /* White text on blue background */
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}

.swal2-cancel {
  background-color: #ccc;
  color: #000;
}

/* Style for success and error messages */
.swal2-success .swal2-title {
  color: #007bff; /* Use blue as the success message color */
}

.swal2-error .swal2-title {
  color: #ff0000;
}
